@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/contatos.css">

<div class="conteudoTotal">
<div class="contato-container">
    <h1 id="title-contato">CONTATO</h1>
    <label>Entre em contato com as pessoas que fazem parte deste projeto.</label>

</div>
<div class="contato-info">
    <div class="info-pessoal">
        <h3>Kessy Ramos</h3>
        <p>kessyellen11@gmail.com</p>
        <p>Cel: (16) 99641-3446</p>
        <br>
        <a href="https://instagram.com/kessyramos_?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <div class="info-pessoal">
        <h3>Lucas Santos</h3>
        <p>lucassantosdev@hotmail.com</p>
        <p>Cel: (16) 99254-7877</p>
        <br>
            <a href="https://www.instagram.com/lucas.violao_ofc/" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <div class="info-pessoal">
        <h3>Maria Angelotti</h3>
        <p>majudelima@gmail.com</p>
        <p>Cel: (16) 99992-9725</p>
        <br>
            <a href="https://instagram.com/maju_angelotti?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <br>
    <div class="info-pessoal">
        <h3>Sofia Teixeira</h3>
        <p>sofiaantenor1418@gmail.com</p>
        <p>Cel: (16) 99633-0695</p>
        <br>
            <a href="https://instagram.com/sofiaantenor13_26?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <div class="info-pessoal">
        <h3>Otávio Bonelli</h3>
        <p>parzikaton1@gmail.com</p>
        <p>Cel: (16) 99116-0739</p>
        <br>
            <a href="https://instagram.com/tavin.b12?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
</div>
</div>
