@{
    ViewData["Title"] = "Contatos";
}

<link rel="stylesheet" href="~/css/contatos.css">

<div class="conteudoTotal">
<div class="contato-container">
    <h1 id="title-contato">CONTATO</h1>
    <label>Entre em contato com as pessoas que fazem parte deste projeto.</label>

</div>
<div class="contato-info">
    <div class="info-pessoal">
        <h3>Kessy Ramos</h3>
        <p>kessyellen11@gmail.com</p>
        <p>Cel: (16) 99641-3446</p>
        <br>
        <a href="https://instagram.com/kessyramos_?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <div class="info-pessoal">
        <h3>Lucas Santos</h3>
        <p>lucassantosdev@hotmail.com</p>
        <p>Cel: (16) 99254-7877</p>
        <br>
            <a href="https://www.instagram.com/lucas.violao_ofc/" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <div class="info-pessoal">
        <h3>Maria Angelotti</h3>
        <p>majudelima@gmail.com</p>
        <p>Cel: (16) 99992-9725</p>
        <br>
            <a href="https://instagram.com/maju_angelotti?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <br>
    <div class="info-pessoal">
        <h3>Sofia Teixeira</h3>
        <p>sofiaantenor1418@gmail.com</p>
        <p>Cel: (16) 99633-0695</p>
        <br>
            <a href="https://instagram.com/sofiaantenor13_26?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
    <div class="info-pessoal">
        <h3>Otávio Bonelli</h3>
        <p>parzikaton1@gmail.com</p>
        <p>Cel: (16) 99116-0739</p>
        <br>
            <a href="https://instagram.com/tavin.b12?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><img src="/img/instagram.png" class="img-insta"> </a>
    </div>
</div>
</div>


<div class="sobre">
    <div class="row">
        <div class=" img-sobre col">
            <img src="~/img/nos.jpeg" alt="" class="img-sobre">
        </div>
        <div class="text-sobre col">
            <h5>Sobre nós</h5>
            <p>Um grupo de cinco apaixonados por animais decidiu usar a tecnologia para criar o "SOS Pets", um espaço online que ajuda pessoas a encontrar seus animais perdidos e oferece a oportunidade de adoção. Liderados por Kessy, eles construíram um site intuitivo onde histórias de reencontros ganham vida. Lucas capturou a essência dos animais com suas fotos emocionantes, enquanto Maria Júlia ofereceu recursos para ajudar tutores preocupados. Sofia trouxe um senso de comunidade através de suas palavras e Otávio inspirou a seção de adoção responsável, conectando abrigos locais. O "SOS Pets" tornou-se um refúgio de esperança e solidariedade, oferecendo histórias emocionantes e oportunidades de adoção, lembrando a todos que a compaixão e o amor pelos animais podem ser compartilhados e celebrados no mundo digital.</p>
        </div>
    </div>
</div>