@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOSPets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SOSPets.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="ism/css/my-slider.css" />
    <script src="ism/js/ism-2.2.min.js"></script>
    <link rel="shortcut icon" href="/sos-pets-branco.ico" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-faded border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="/img/sos-pets-branco.png" alt="" style="height: 12vh;margin-right: 1%;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navigation">
                    <ul class="menu navbar-nav flex-grow-1">
                        <li class="nav-item menu-link">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item menu-link">
                            <a class="nav-link text-light" asp-area="" asp-controller="ONGs" asp-action="ONGs">ONGs</a>
                        </li>
                        <li class="nav-item menu-link">
                            <a class="nav-link text-light" asp-area="" asp-controller="Adocao"
                               asp-action="Index">Adoção</a>
                        </li>
                        <li class="nav-item menu-link">
                            <a class="nav-link text-light" asp-area="" asp-controller="Encontrados"
                               asp-action="Index">Encontrados</a>
                        </li>
                        <li class="nav-item menu-link">
                            <a class="nav-link text-light" asp-area="" asp-controller="Desaparecidos"
                               asp-action="Desaparecidos">Desaparecidos</a>
                        </li>
                        <li class="nav-item menu-link">
                            <a class="nav-link text-light" asp-area="" asp-controller="Contatos"
                               asp-action="Contatos">Contatos</a>
                        </li>

                    </ul>

                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <a href="/Usuario/Details/@User.FindFirstValue(ClaimTypes.Sid)" class="nav-link text-light">@User.Identity.Name</a>

                    } else{
                        <a asp-controller="Usuario" asp-action="Login" class="nav-link text-light" >Login</a>
                    }
                    <!--<button type="button" class="btn btn-faded btn-login">Log in</button>
                    <button type="button" class="btn btn-faded btn-login">Sign up</button>-->
                </div>
            </div>
        </nav>
      
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br><br>
    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="imgsos col" >
                <img src="/img/sos-pets-branco.png" alt="" style="height: 16vh;margin-right: 1%;">
                </div>
                <div class="infoCont col">
                    <h4>Kessy Ramos</h4>
                    <p>Cel: (16) 99641-3446</p>
                </div>
                <div class="infoCont col">
                    <h4>Lucas Santos</h4>
                    <p>Cel: (16) 99254-7877</p>
                </div>
                <div class="infoCont col">
                    <h4>Maria Angelotti</h4>
                    <p>Cel: (16) 99992-9725</p>
                </div>
                <div class="infoCont col">
                    <h4>Sofia Teixeira</h4>
                    <p>Cel: (16) 99633-0695</p>
                </div>
                <div class="infoCont col">
                    <h4>Otávio Bonelli</h4>
                    <p>Cel: (16) 99116-0739</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.inputmask.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>