@model SOSPets.Models.EncontradosModel

@{
    ViewData["Title"] = "Cadastrar Encontrado";
}

<link rel="stylesheet" href="~/css/post_page.css" />

<div class="container-post text-center">
    <h1>Criar Postagem</h1>

    <br>

    <form asp-action="CadastrarEncontrado" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label">Descrição:</label>
            <input asp-for="Descricao" class="form-control" placeholder="Digite a descrição. Ex.: Onde se encontra ou foi visto por ultimo." />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cidade" class="control-label">Cidade</label>
            <input asp-for="Cidade" class="form-control" placeholder="Digite a cidade " />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Imagem" class="control-label">Foto do animal</label>
            <input type="file" accept="image/*" name="imagem" asp-for="Imagem" class="form-control" />
        </div>
        <div class="form-group btn-criar">
            <a asp-action="CentralEncontrados" class="btn btn-light" role="button">Voltar para a Central</a>
            <input type="submit" value="Criar Publicação" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
