@model SOSPets.Models.EncontradosModel

@{
    ViewData["Title"] = "Animal Devolvido";
}

<link rel="stylesheet" href="~/css/detalhes_desa_page.css" />
<link rel="stylesheet" href="~/css/exclusao_page.css" />

<h2>Este animal foi devoldido para o dono?</h2>

<div class="container">
    <div class="imagem-post">
        <img src="~/img/encontrados/@Html.DisplayFor(model => model.Imagem)" alt="">
    </div>
    <div class="info-post">
        <h3>Encontrado</h3>
        <h5> @Html.DisplayFor(model => model.Cidade)</h5>
        <div class="informacoes">
            <p>
                Descrição: @Html.DisplayFor(model => model.Descricao)
            </p>
        </div>
    </div>
</div>

<div class="btn-exclusao">
    <form asp-action="Excluir">
        <input type="hidden" asp-for="Id" />
        <a asp-controller="Usuario" class="btn btn-secondary" role="button" asp-action="Posts">Voltar</a>
        <input type="submit" value="Devolvido" class="btn btn-success" />
    </form>
</div>

