@model IEnumerable<SOSPets.Models.DesaparecidosModel>

@{
    ViewData["Title"] = "Central de Animais Desaparecidos";
}

<link rel="stylesheet" href="~/css/central_page.css" />

<div class="banner text-center">
    <h1 class="text-center" id="title">Central de Animais Desaparecidos</h1>
    <p>Bem-vindo(a) a nossa Central de Animais Desaparecidos, aqui você encontra animaizinhos que os donos estão desesperados em acha-los, ajude.</p>
    <a class="btn btn-success" role="button" asp-action="CadastrarDesaparecido">Cadastrar animal desaparecido</a>
    <form class="form-inline barra-busca">
        <div class="form-row d-flex">
            <input class="form-control" placeholder="Busque aqui por: Nome, Cidade ou Descrição" name="buscaPet" />
            <input class="btn btn-secondary col-auto" role="button" type="submit" value="Buscar" />
        </div>
    </form>
</div>


<div class="coluna-post row row-cols-4 ">

    @foreach (var item in Model)
    {
        <div class="row">

            <div class="card ">
                <img src="~/img/desaparecidos/@Html.DisplayFor(modelItem => item.Imagem)" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">
                        Cidade: @Html.DisplayFor(modelItem => item.Cidade)<br>
                        Descrição: @Html.DisplayFor(modelItem => item.Descricao)
                    </p>
                </div>
                <a class="btn btn-primary align-items-center" role="button" asp-action="Detalhes" asp-route-id="@item.Id">Este animal é meu</a>
            </div>

        </div>
    }

</div>