@model HomeViewModel;


@{
    ViewData["Title"] = "Home";
}

<div class="text_ale">
<div class="fundo">
    <div class="fundo-img"></div>
        <h1>SOS Pets</h1>
       <!-- <img src="~/img/img_fundo_home.jpg" /> -->
</div>
</div>
<!-------------------------------------------------------------------------------------------------->
<div class="campanha">
    <div class="row">
        <br>
        <H1>Campanhas</H1>
        <div class="camp-img col">
            <img src="img/cat1.jpg" alt="" class="img-camp">
            <h5>Unidos pelas Patas</h5>
        </div>
        <div class="camp-img col">
            <img src="img/dog1.jpg" alt="" class="img-camp">
            <h5>Crueldade Zero</h5>
        </div>
        <div class="camp-img col">
            <img src="img/cat2.jpg" alt="" class="img-camp">
            <h5>Crueldade Zero</h5>
        </div>
        <div class="camp-img col">
            <img src="img/dog2.jpg" alt="" class="img-camp">
            <h5>Amigos para Sempre</h5>
        </div><br>
    </div>
    <a href="#" class="link"> Clique aqui para continuar vendo as campanhas!</a>
</div>
<!-------------------------------------------------------------------------------------------------->
<div class="adocao">
     <h1 style="text-align: center">Para Adoção</h1>
    <div class="coluna-post row row-cols-4 ">

    
        <center><a href="#" class="link">Clique aqui para continuar vendo os Pets para adoção!</a></center>
           
</div>
<!-------------------------------------------------------------------------------------------------->

