
@{
    ViewData["Title"] = "Home";
}

<div class="text_ale">
<div class="fundo">
    <div class="fundo-img"></div>
        <h1>SOS Pets</h1>
       <!-- <img src="~/img/img_fundo_home.jpg" /> -->
</div>
</div>
<!-------------------------------------------------------------------------------------------------->
<div class="campanha">
    <div class="row">
        <br>
        <H1>Campanhas</H1>
        <div class="camp-img col">
            <img src="img/cat1.jpg" alt="" class="img-camp">
            <h5>Unidos pelas Patas</h5>
        </div>
        <div class="camp-img col">
            <img src="img/dog1.jpg" alt="" class="img-camp">
            <h5>Crueldade Zero</h5>
        </div>
        <div class="camp-img col">
            <img src="img/cat2.jpg" alt="" class="img-camp">
            <h5>Crueldade Zero</h5>
        </div>
        <div class="camp-img col">
            <img src="img/dog2.jpg" alt="" class="img-camp">
            <h5>Amigos para Sempre</h5>
        </div><br>
    </div>
    <a href="#" class="link"> Clique aqui para continuar vendo as campanhas!</a>
</div>
<!-------------------------------------------------------------------------------------------------->
<div class="adocao">
     <h1 style="text-align: center">Para Adoção</h1>
     <div class="colunaado row row-cols-4 ">
                  <div class="col">
                        <div class="card" style="width: 15rem;">
                            <img src="img/spark.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Spark</h5>
                              <p class="card-text">Raça: Vira Lata<br>
                                Sexo: Macho<br>
                                Cor: Preto<br></p>
                            </div>
                        </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="img/jorge.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jorge</h5>
                            <p class="card-text">Raça: Vira Lata<br>
                                Sexo: Macho<br>
                                Cor: Preto<br></p>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="img/lilica.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lilica</h5>
                          <p class="card-text">Raça: Vira Lata<br>
                                Sexo: Fêmea<br>
                                Cor: Caramelo<br></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="img/lilica.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lilica</h5>
                          <p class="card-text">Raça: Vira Lata<br>
                                Sexo: Fêmea<br>
                                Cor: Caramelo<br></p>
                        </div>
                    </div>
                </div>
     </div>
            <center><a href="#" class="link">Clique aqui para continuar vendo os Pets para adoção!</a></center>
           
</div>
<!-------------------------------------------------------------------------------------------------->
<div class="sobre">
  <div class="row">
      <div class=" img-sobre col">
          <img src="img/nos.jpeg" alt="" class="img-sobre">
      </div>
      <div class="text-sobre col">
          <h5>Sobre nós</h5>
          <p>Um grupo de cinco apaixonados por animais decidiu usar a tecnologia para criar o "SOS Pets", um espaço online que ajuda pessoas a encontrar seus animais perdidos e oferece a oportunidade de adoção. Liderados por Kessy, eles construíram um site intuitivo onde histórias de reencontros ganham vida. Lucas capturou a essência dos animais com suas fotos emocionantes, enquanto Maria Júlia ofereceu recursos para ajudar tutores preocupados. Sofia trouxe um senso de comunidade através de suas palavras e Otávio inspirou a seção de adoção responsável, conectando abrigos locais. O "SOS Pets" tornou-se um refúgio de esperança e solidariedade, oferecendo histórias emocionantes e oportunidades de adoção, lembrando a todos que a compaixão e o amor pelos animais podem ser compartilhados e celebrados no mundo digital.</p>
      </div>
  </div>
</div>
