@model SOSPets.Models.UsuarioModel
@{
    ViewData["Title"] = "Cadastro";
    Layout = null;
}
<link rel="stylesheet" href="/css/cadastro.css">
<section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="/img/cachorro-removebg-preview.png" alt="illustration" class="illustration" style="margin-top: 50%;" />
                <h1 class="opacity">Cadastrar</h1>

            <form asp-action="Cadastro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Nome" type="text" placeholder="Nome Completo" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" type="email" name="email" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <input asp-for="Tel" type="text" placeholder="" id="Telefone" />
                        <span asp-validation-for="Tel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" type="password" placeholder="Senha" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <!--<input type="password" placeholder="Repetir Senha" />-->
                    <input type="submit" class="opacity" value="Finalizar">
                </form>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/5.x/dist/jquery.inputmask.js"></script>

    <script type="module" src="/js/Login.js"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
