@model UsuarioModel

@{
    ViewData["Title"] = "Detalhes da conta";
}

<link rel="stylesheet" href="~/css/user_page.css" />

    <div class="container-user">
    <h1>@Html.DisplayFor(Model => Model.Nome)</h1>

        <br>

        <div class="dados-user">
            <input type="hidden" asp-for="Id" />
            <div class="input-user-dados">
                <label for="">Email:  </label>
                <input asp-for="Email" readonly class="form-control" />
            </div>
            <div class="input-user-dados">
                <label for="">Telefone:  </label>
                <input asp-for="Tel" readonly class="form-control" />
            </div>
        </div>

        <div class="btn-options-user">
            <a asp-action="Posts" role="button" class="btn btn-primary">Minhas postagens</a>
            <a asp-action="Logout" role="button" class="btn btn-secondary">Deslogar</a>
        @if (User.IsInRole("ADM"))
        {
            <a class="btn btn-light" asp-controller="Usuario" asp-action="Index">Central de Usuarios</a>
        } else
        {
            <a class="btn btn-light" asp-controller="Home" asp-action="Index">Voltar para Home</a>
        }
        </div>

</div>

