@model SOSPets.Models.UsuarioModel

@{
    ViewData["Title"] = "Editar Conta";
}

<link rel="stylesheet" href="~/css/user_page.css" />


<div class="container-user">
    <h1>@Html.DisplayFor(model => model.Nome)</h1>

    <br>

    <form asp-action="Edit">
    <div class="dados-user">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Nome" />
        <input type="hidden" asp-for="Password" />
        <div class="input-user-dados">
            <label for="">Email:  </label>
            <input asp-for="Email" name="email" class="form-control" />
        </div>
        <div class="input-user-dados">
            <label for="">Telefone:  </label>
            <input asp-for="Tel" name="tel" class="form-control" />
        </div>
    </div>
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
    <div class="btn-options-user">
        <a asp-action="Edit" asp-route-id="@Model?.Id" role="button" class="btn btn-primary">Editar Dados</a>
        <a href="" role="button" class="btn btn-danger">Excluir Conta</a>
    </div>
</div>


<!--<h4>UsuarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
    </div>
</div>-->


<div>
    <a asp-action="Index">Back to List</a>
</div>

